# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Managed by Composer
/vendor/

# Composer
composer.phar
composer.lock

# PHPStorm
/.idea

# Sublime
*.sublime-*

# Netbeans
project.properties
project.xml
nbproject

# VI swap
#*.swp

# Local
/app/config/local/*

# Misc
ahvla-beta.iml
atlassian-ide-plugin.xml
_ide_helper.php
assets/bower
assets/components
/app/storage/meta/*
/app/storage/logs/*
/app/storage/cache/*
/app/storage/views/*
/app/storage/sessions/*
public/assets
bootstrap/compiled.php
/app/controllers/ahvla/controllers/apimock/*.json
/config/deploy/dev_login.rb
/config/deploy/dev_prod_login.rb

# Front end
/node_modules/
/.sass-cache/
/nbproject/private/

/modules/txt/*

# Mac specific
.DS_Store

# Capistrano
archive.*.tar.gz

# env files
.env*

# not regularly used deployment scripts
/config/*
#/config/deploy/staging.rb
#/config/deploy/qa.rb
#/config/deploy/production.rb
#/config/deploy/dev.rb
#/config/deploy/dev_prod_login_example.rb
#/config/deploy/dev_login_example.rb

/app/config/ahvla.php
/app/config/develop/*
/app/config/ibm_dev/*
/app/config/ibm_prod/*
/app/config/ibm_qa/*
/app/config/ibm_test/*
/app/config/internal/*
/app/config/packages/*
/app/config/production/*
/app/config/qa/*
/app/config/staging/*
/app/config/testing/*

# See https://help.github.com/articles/ignoring-files for more about ignoring files and https://github.com/github/gitignore for some templates
#

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*~
.DS_Store
.svn
.*.swp
___*

# Symbol tags (e.g. generated by Atom Editor)
/tags
