/*------------------------------------*\
    $DELIVERY ADDRESS
\*------------------------------------*/

.delivery-address {
  padding:20px;
  margin:0 0 10px 0;
  border: solid 1px $grey-2;

  h2 {
    margin-top:0;
  }

  p.test-item {
    margin-bottom:0;
  }
}