/*------------------------------------*\
    $FOOTER
\*------------------------------------*/


#footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
  background: url("/assets/images/open-government-licence_2x.png") 0 0 no-repeat;
  background-size: contain;
}

#footer .footer-meta .copyright a {
  background-image:
    url("images/govuk-crest.png");
}